
.wp-side-comments-icon-user-pair:before { content: '\e800'; } /* '' */
.wp-side-comments-icon-grid:before { content: '\e801'; } /* '' */
.wp-side-comments-icon-print-1:before { content: '\e802'; } /* '' */
.wp-side-comments-icon-calendar-alt:before { content: '\e803'; } /* '' */